.form {
  max-width: 500px;
  margin: auto;
  margin-top: 10%;
}

mat-divider {
  position: relative !important;
}

.login__text {
  font-size: large;
  cursor: pointer;
}

@media (max-width: 576px) {
  .login__text {
    font-size: medium;
  }
  .form {
    margin-top: 40%;
  }
}
