<form aria-label="Login Form" [formGroup]="loginForm" (submit)="login()">
  <mat-card class="form p-5">
    <ng-container *ngIf="asAdmin">
      <mat-card-title class="text-center">Login as Admin</mat-card-title>
      <mat-card-content class="d-flex flex-column">
        <mat-form-field>
          <input
            aria-label="User Name"
            class="palceHolder"
            matInput
            placeholder="User Name"
            formControlName="userName"
          />
          <mat-icon matSuffix>account_box</mat-icon>
          <mat-error>
            User name is requires
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input
            aria-label="Passowrd"
            matInput
            placeholder="Password"
            [type]="hidePassword ? 'password' : 'text'"
            formControlName="password"
          />
          <button
            aria-label="Hide or Show"
            mat-icon-button
            matSuffix
            (click)="hidePassword = !hidePassword"
            attr.aria-labe="Hide password"
            attr.aria-pressed="Hide password"
          >
            <mat-icon>{{ hidePassword ? 'visibility' : 'visibility_off' }}</mat-icon>
          </button>
          <mat-error>
            User name is requires
          </mat-error>
        </mat-form-field>
        <button aria-label="Submit" class="mt-2 admin__login" color="primary" mat-raised-button type="submit">
          Login
        </button>
      </mat-card-content>
      <mat-divider class="my-3"> </mat-divider>
      <ng-container *ngTemplateOutlet="googleLogin"></ng-container>
    </ng-container>
    <ng-container *ngIf="!asAdmin">
      <ng-container *ngTemplateOutlet="googleLogin"></ng-container>
      <mat-divider class="my-3"> </mat-divider>
      <div (click)="asAdmin = true" class="d-flex align-items-center justify-content-center admin__signin__link">
        <mat-icon>account_box</mat-icon>
        <span class="ml-2 login__text"> Login as Admin </span>
      </div>
    </ng-container>
  </mat-card>
</form>

<ng-template #googleLogin>
  <div
    aria-label="Google Login"
    class="d-flex align-items-center justify-content-center user__signin"
    (click)="signIn()"
  >
    <img
      width="40px"
      alt='Google "G" Logo'
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"
    />
    <span class="ml-2 login__text"> Login with Google as User </span>
  </div>
</ng-template>
