<div class="m-5 d-flex flex-column flex-sm-row flex-wrap" [formGroup]="booksForm">
  <div class="mat-display-1 mb-0 flex-fill align-self-center">
    Books
  </div>
  <mat-form-field class="m-1">
    <mat-select aria-label="Category" placeholder="Category" formControlName="category" (selectionChange)="search()">
      <mat-option [value]="''"> All </mat-option>
      <mat-option *ngIf="role === roleRef.USER" [value]="'favorite'">My Favorite</mat-option>
      <mat-option *ngFor="let category of categories" [value]="category">
        {{ category }}
      </mat-option>
    </mat-select>
    <mat-icon matSuffix (click)="clearCategory($event)" *ngIf="booksForm.get('category').value">
      close
    </mat-icon>
  </mat-form-field>

  <mat-form-field class="flex-fill m-1">
    <input aria-label="Search books by author or title" #searchBox matInput placeholder="Search books by author or title" formControlName="searchValue" />
    <mat-icon matSuffix *ngIf="!booksForm.get('searchValue').value">search </mat-icon>
    <mat-icon matSuffix (click)="clearSearch()" *ngIf="booksForm.get('searchValue').value"> close </mat-icon>
  </mat-form-field>
</div>

<ng-container *ngIf="!isLoading; else loading">
  <ng-container *ngIf="books?.length > 0; else noRecordsMessage">
    <mat-card class="book__card  m-2 ">
      <div class="row" matSort (matSortChange)="sortBooks($event)">
        <div class="col-md-1"></div>
        <div class="col-md-3">
          <div class="d-flex">
            <span mat-sort-header="title">Title</span>
            <span mat-sort-header="author">Author</span>
            <span mat-sort-header="isbn">ISBN</span>
          </div>
        </div>
        <div mat-sort-header="rating" class="col-md-1">
          Rating
        </div>
        <div class="col-md-1">
          <div mat-sort-header="availableCount" arrowPosition="before">Available</div>
          <div mat-sort-header="count" arrowPosition="before">Actual</div>
        </div>
        <div mat-sort-header="location" class="col-md-1">
          Location
        </div>
        <div [class.col-md-3]="role === roleRef.USER" [class.col-md-5]="role === roleRef.ADMIN">
          Description
        </div>
        <div class="col-md-2 text-center" *ngIf="role === roleRef.USER">
          Issue to self
        </div>
      </div>
    </mat-card>
    <mat-card class="book__card m-2 " *ngFor="let book of books">
      <div class="row align-items-center">
        <img aria-label="Image of the book"  class="col-2 col-md-1" [src]="book.imageUrl" alt="Book Thumbnail" width="50px" />

        <div class="col-md-3">
          <div matTooltip="Title" class=" m-0">
            {{ book.title }}
          </div>
          <div matTooltip="Author">{{ book.author }}</div>
          <div matTooltip="ISBN">{{ book.isbn }}</div>
          <div matTooltip="Category">{{ book.category }}</div>
          <div class="review__link" matTooltip="View reviews" (click)="openBookReviewDialog(book)">Reviews</div>
        </div>
        <div class="col-md-1 m-0 ">
          <span matTooltip="Rating">{{ book.rating }}</span> <mat-icon>star_rate</mat-icon>
        </div>

        <div class="col-md-1 m-0 ">
          &nbsp; &nbsp;<span matTooltip="Available Count">{{ book.availableCount }}</span
          >/<span matTooltip="Book Count">{{ book.count }}</span>
        </div>
        <div matTooltip="Location" class="col-md-1 mat-h3 m-0">
          <span>{{ book.location }}</span>
        </div>
        <div
          appHighlighter="#c2bdc2"
          class="book__description"
          [class.col-md-3]="role === roleRef.USER"
          [class.col-md-5]="role === roleRef.ADMIN"
        >
          {{ book.description }}
        </div>
        <div class="col-md-2 d-flex justify-content-center" *ngIf="role === roleRef.USER && book.availableCount > 0">
          <button
          aria-label="Add" 
            mat-raised-button
            [matTooltip]="'Issue to self for next ' + issueDays + ' days'"
            [disabled]="book.availableCount == 0"
            color="accent"
            (click)="issueBook(book)"
          >
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
    </mat-card>

    <mat-card class="m-2 book__card p-0">
      <mat-paginator
        *ngIf="true"
        [length]="booksTotalCount"
        [pageSize]="pageSize"
        showFirstLastButtons
        [pageSizeOptions]="[5, 10, 25]"
        [pageIndex]="pageIndex - 1"
        (page)="paginate($event)"
      >
      </mat-paginator>
    </mat-card>
  </ng-container>
  <ng-template #noRecordsMessage>
    <mat-card class="book__card  m-2" *ngIf="showBooks">
      No Records Found.
    </mat-card>
  </ng-template>
</ng-container>

<ng-template #loading>
  <div class="row no-gutters m-5">
    <div class="m-auto d-flex">
      <button mat-stroked-button color="accent">Loading ...</button>
    </div>
  </div>
</ng-template>
