<div class="mat-display-1 m-5 component__header">
  {{ title }}
</div>

<mat-card
  class="book__search d-flex  flex-wrap align-items-center justify-content-center"
  *ngIf="!showBook && !showBookExists"
>
  <mat-form-field class="flex-fill mx-1" [formGroup]="searchForm">
    <input aria-label="ISBN" matInput placeholder="ISBN" formControlName="isbn" />
  </mat-form-field>
  <button aria-label="Find" mat-raised-button color="accent" (click)="findByIsbn()">
    {{ type == 'add' ? 'Add' : 'Find' }}
  </button>
</mat-card>
<div class="text-center">
  <button
    aria-label="Find another by ISNB"
    *ngIf="(showBook && !showBookDetailsNotFound) || showBookExists"
    mat-raised-button
    (click)="clearBookInfo()"
    color="accent"
    class="flex-fill"
  >
    {{ type == 'add' ? 'Add' : 'Find' }} another by ISNB
  </button>
  <div class="m-2" *ngIf="showBookNotFound">
    Book details not found for ISNB {{ searchForm.get('isbn').value }}. Would you like to add ?
    <button aria-label="Add" (click)="changeTo('add')" mat-raised-button color="accent">Add</button>
  </div>

  <div class="m-2" *ngIf="showBookExists">
    Book details for ISNB {{ searchForm.get('isbn').value }} exists. Would you like to Update ?
    <button aria-label="Update" (click)="changeTo('update')" mat-raised-button color="accent">Update</button>
  </div>

  <div class="m-2" *ngIf="showBookDetailsNotFound">
    Book details not found for ISNB {{ searchForm.get('isbn').value }}. Fill the details or Try Aagin
    <button aria-label="Try Again" mat-raised-button (click)="clearBookInfo()" color="accent">Try Aagin</button>
  </div>
  <button aria-label="Loading" class="m-2" *ngIf="isLoading" mat-stroked-button color="accent">Loading ...</button>
</div>

<mat-card *ngIf="showBook" class="book__details my-5">
  <mat-card-title class="text-center"> Details </mat-card-title>
  <form aria-label="Book Form" [formGroup]="bookForm" class="d-flex flex-column flex-lg-row align-items-lg-center">
    <img
      aria-label="Book Image"
      class="align-self-center  mr-lg-2 "
      [src]="bookForm.get('imageUrl').value"
      alt="Book Thumbnail"
      width="80px"
    />
    <div class="d-flex flex-fill flex-wrap flex-column ">
      <div class=" d-flex flex-wrap flex-column flex-sm-row">
        <mat-form-field class="flex-sm-fill m-sm-1">
          <input aria-label="ISBN" matInput formControlName="isbn" placeholder="ISBN" readonly />
          <mat-error>
            Invalid
          </mat-error>
        </mat-form-field>

        <mat-form-field class="flex-sm-fill m-sm-1">
          <input aria-label="Title" matInput formControlName="title" placeholder="Title" />
          <mat-error>
            Invalid
          </mat-error>
        </mat-form-field>

        <mat-form-field class="flex-sm-fill m-sm-1">
          <input aria-label="Author" matInput formControlName="author" placeholder="Author" />
          <mat-error>
            Invalid
          </mat-error>
        </mat-form-field>
      </div>

      <div class="d-flex flex-wrap flex-column flex-md-row">
        <mat-form-field class="flex-sm-fill m-sm-1">
          <textarea
            aria-label="Description"
            matInput
            formControlName="description"
            placeholder="Description"
          ></textarea>
          <mat-error>
            Invalid
          </mat-error>
        </mat-form-field>

        <mat-form-field class="flex-sm-fill m-sm-1">
          <input aria-label="location" matInput formControlName="location" placeholder="Location" />
          <mat-error>
            Invalid
          </mat-error>
        </mat-form-field>
      </div>

      <div class="d-flex flex-wrap flex-column flex-md-row ">
        <mat-form-field class="flex-sm-fill m-sm-1">
          <input
            aria-label="Rating"
            type="number"
            matInput
            [max]="maxRating"
            [min]="minRating"
            formControlName="rating"
            placeholder="{{ 'Rating (' + bookForm.get('rating').value + '/ 5)' }}"
          />
          <mat-error>
            Invalid
          </mat-error>
        </mat-form-field>

        <mat-form-field class="flex-sm-fill m-sm-1">
          <input aria-label="Count" type="number" matInput formControlName="count" placeholder="Count" />
          <mat-error>
            Invalid
          </mat-error>
        </mat-form-field>
        <mat-form-field class="flex-sm-fill m-sm-1">
          <mat-label>Category</mat-label>
          <mat-select aria-label="Category" formControlName="category">
            <mat-option *ngFor="let category of categories" [value]="category">
              {{ category }}
            </mat-option>
          </mat-select>
          <mat-error>
            Invalid
          </mat-error>
        </mat-form-field>
      </div>
      <div class="d-flex flex-wrap flex-column flex-sm-row ">
        <button
          aria-label="Add"
          class="mx-5  flex-fill"
          *ngIf="type == 'add'"
          type="submit"
          mat-raised-button
          color="accent"
          (click)="addBook()"
        >
          Add
        </button>
        <button
          aria-label="Update"
          class="mx-5 flex-fill"
          *ngIf="type == 'update'"
          type="submit"
          mat-raised-button
          color="accent"
          (click)="updateBook()"
        >
          Update
        </button>
        <button
          aria-label="Delete"
          class="mx-5  flex-fill"
          *ngIf="type == 'update'"
          type="submit"
          mat-raised-button
          color="warn"
          (click)="deleteBook()"
        >
          Delete
        </button>
      </div>
    </div>
  </form>
</mat-card>
