<div
  class="m-5 component-heade d-flex flex-wrap align-content align-content-center justify-content-between flex-column flex-md-row"
>
  <div class="mat-display-1 m-0">
    Dashboard
  </div>
  <button  aria-label="Profile " mat-button class="profile__button" (click)="openProfileDialog()">
    <mat-icon>account_box</mat-icon><span> Profile</span>
  </button>
</div>

<mat-card *ngFor="let menuItem of menu" class="menu__card m-3" mat-button [routerLink]="['../', menuItem.path]">
  <h4>{{ menuItem.title }}</h4>
</mat-card>
