<mat-toolbar class="navbar mat-elevation-z2 p-3 " color="primary">
  <div class="d-flex">
    <button class="mr-3 header-title " mat-button (click)="menuRoute(defaultPath)">
      <span class="mat-display-1 m-0 title">Library</span>
    </button>
    <div class="flex-fill">
      <div class="d-none d-md-flex flex-wrap justify-content-center">
        <ng-container *ngTemplateOutlet="menuTemplate"></ng-container>
      </div>
    </div>
    <button
      aria-label="Open Menu"
      *ngIf="authenticationService.isLoggedIn$ | async"
      class="user__menu"
      mat-button
      [matMenuTriggerFor]="userMenu"
    >
      <span class="user__name">{{ (authenticationService.user$ | async).name }}</span
      ><mat-icon>more_vert</mat-icon>
    </button>
  </div>
  <div class="d-flex flex-wrap justify-content-center d-md-none">
    <ng-container *ngTemplateOutlet="menuTemplate"></ng-container>
  </div>

  <mat-menu #userMenu="matMenu">
    <button aria-label="Settings" mat-menu-item><mat-icon>settings</mat-icon>Settings</button>
    <button aria-label="Help" mat-menu-item><mat-icon>help</mat-icon>Help</button>
    <button aria-label="Logout" mat-menu-item class="logout__button" (click)="authenticationService.signOut()">
      <mat-icon>exit_to_app</mat-icon>Logout
    </button>
  </mat-menu>
</mat-toolbar>
<ng-template #menuTemplate>
  <button
    aria-label="Menu Item"
    class="menu__item"
    *ngFor="let menuItem of menu"
    mat-button
    (click)="menuRoute(menuItem.path)"
    [class.menu__item--selected]="selectedMenu == menuItem.path"
  >
    {{ menuItem.title }}
  </button>
</ng-template>
