@import '../../../anytime-library-theme.scss';

.navbar {
  position: sticky;
  top: 0;
  z-index: 10;
  height: auto;
  min-height: 55px;
  width: 100%;
  display: block;
}

.menu__item--selected {
  border-bottom: 2px solid map-get($library-accent, default);
  border-radius: 0;
}
