<div class="d-flex">
  <h1 class="flex-fill" mat-dialog-title>Profile</h1>
  <button mat-icon-button mat-dialog-close><mat-icon>close</mat-icon></button>
</div>
<div class="d-flex justify-content-center m-3">
  <img  aria-label="Profile Image " [src]="user?.imageUrl" alt="Book Thumbnail" width="100px" />
</div>

<div mat-dialog-content class="d-flex flex-column">
  <div class="user__id">ID : {{ user?.userId }}</div>
  <div class="user__name">Name : {{ user?.name }}</div>
  <div class="user__email">Email : {{ user?.email }}</div>
  <div class="user__totalBooksIssued">Books to issued to self : {{ totalBooksIssued }}</div>
  <div class="user__issuedBooks">Books to return : {{ issuedBooks }}</div>

  <mat-form-field class="m-1">
    <mat-select  aria-label="Set Category" placeholder="Set Favorite">
      <mat-option *ngFor="let category of categories" [value]="category">
        {{ category }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
