<div class="d-flex">
  <h1 class="flex-fill" mat-dialog-title>Configuration</h1>
  <button aria-label="Close" mat-icon-button mat-dialog-close><mat-icon>close</mat-icon></button>
</div>

<div mat-dialog-content class="d-flex flex-column" [formGroup]="configForm">
  <mat-form-field class="m-1">
    <input aria-label="Issue days" matInput type="number" formControlName="issueDays" placeholder="Issue days" />
    <mat-error>
      Invalid
    </mat-error>
  </mat-form-field>
  <mat-form-field class="m-1">
    <input aria-label="Renew days" matInput type="number" formControlName="renewDays" placeholder="Renew days" />
    <mat-error>
      Invalid
    </mat-error>
  </mat-form-field>
  <mat-form-field class="m-1">
    <input
      aria-label="Max no of issue per user"
      matInput
      type="number"
      formControlName="maxNoOfBooksPerUser"
      placeholder="Max no of issue per user"
    />
    <mat-error>
      Invalid
    </mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions class="d-flex flex-wrap">
  <button aria-label="Reset" class="flex-fill" color="primary" mat-raised-button (click)="reset()">Reset</button>
  <button aria-label="Update" class="flex-fill update__button" color="primary" mat-raised-button (click)="update()">
    Update
  </button>
</div>
