<div
  class="m-5 component-heade d-flex flex-wrap align-content align-content-center justify-content-between flex-column flex-md-row"
>
  <div class="mat-display-1 m-0">
    Dashboard
  </div>
  <button aria-label="Configuration" mat-button class="config__button" (click)="openConfigurationDialog()">
    <mat-icon>settings</mat-icon> Configuration
  </button>
</div>

<mat-card *ngFor="let menuItem of menu" class="menu__card m-3" mat-button [routerLink]="['../', menuItem.path]">
  <h4>{{ menuItem.title }}</h4>
</mat-card>
