@import '~@angular/material/theming';

@include mat-core();

// mat-palette($base-palette, $default: 500, $lighter: 100, $darker: 700) lighter and darker values doesnot effect
$library-primary: mat-palette($mat-grey, 900, 700, 900);
$library-accent: mat-palette($mat-yellow, 800, 400, 900);
$library-warn: mat-palette($mat-red, 800, 400, 900);

$library-theme: mat-dark-theme($library-primary, $library-accent, $library-warn);

@include angular-material-theme($library-theme);

* {
  color: #fff;
}
