/* You can add global styles to this file, and also import other style files */

@import './assets/layout/bootstrap-reboot.min.css';
@import './assets/layout/bootstrap-grid.min.css';

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

@import './anytime-library-theme.scss';

:root {
  --grey: #454545;
}

body {
  background-color: map-get($library-primary, lighter);
}

/* * Overriding bootstrap-reboot css START*/
button:focus {
  outline: none;
}
/* * Overriding bootstrap-reboot css END*/

/* * Scroll bar Start */

/* width */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  cursor: pointer;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #fff;
  cursor: pointer;
}

/* * Scroll bar END */

.notification__background {
  background: black;
}

.component__header {
  text-align: center;
}

.menu__card {
  cursor: pointer;
  border-left: 5px solid map-get($library-accent, default);
  transition: transform 0.4s; /* Animation */
  max-width: 665px;
}

.menu__card:hover {
  transform: scale(1.01);
}

.text-center {
  text-align: center;
}

mat-icon {
  cursor: pointer;
}

.book__card {
  border-left: 5px solid map-get($library-accent, default);
}

.book__description {
  max-height: 100px;
  overflow: scroll;
  overflow-x: hidden;
}

.book__search {
  width: 50%;
  margin: auto;
}

.book__details {
  width: 60%;
  margin: auto;
}

@media (max-width: 768px) {
  .book__search {
    width: 90%;
  }
  .book__details {
    width: 90%;
  }
}
