<div [formGroup]="booksForm">
  <div class="mx-5 mt-5 d-flex flex-column flex-sm-row flex-wrap">
    <div class="mat-display-1 mb-0 flex-fill align-self-center">
      <ng-container *ngIf="role === roleRef.ADMIN">
        Issued Books
      </ng-container>
      <ng-container *ngIf="role === roleRef.USER">
        My Books
      </ng-container>
    </div>

    <mat-form-field class="flex-fill m-1">
      <input aria-label="Search books by author or title" #searchBox matInput placeholder="Search books by author or title" formControlName="searchValue" />
      <mat-icon matSuffix *ngIf="!booksForm.get('searchValue').value">search </mat-icon>
      <mat-icon matSuffix (click)="clearSearch()" *ngIf="booksForm.get('searchValue').value"> close </mat-icon>
    </mat-form-field>
  </div>

  <div class="d-flex flex-column flex-sm-row flex-wrap mx-5 ">
    <mat-form-field class="flex-fill m-1" *ngIf="role === roleRef.ADMIN">
      <input aria-label="User Id " #userIdInput matInput placeholder="User ID" formControlName="userId" />
      <mat-icon matSuffix>account_box </mat-icon>
      <mat-icon matSuffix (click)="clearUser()" *ngIf="booksForm.get('userId').value"> close </mat-icon>
    </mat-form-field>

    <mat-form-field class="flex-fill  m-1">
      <mat-select   aria-label="Status " placeholder="Status" formControlName="status" (selectionChange)="search()">
        <mat-option [value]="''"> All </mat-option>
        <mat-option *ngFor="let status of statusList" [value]="status">
          {{ status }}
        </mat-option>
      </mat-select>
      <mat-icon matSuffix (click)="clearStatus($event)" *ngIf="booksForm.get('status').value">
        close
      </mat-icon>
    </mat-form-field>
    <mat-form-field class="flex-fill m-1">
      <input
      aria-label="Issued Date "
        matInput
        formControlName="issuedDate"
        [matDatepicker]="picker"
        (dateChange)="search()"
        placeholder="Issued date"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-icon matSuffix (click)="clearIssuedDate()" *ngIf="booksForm.get('issuedDate').value"> close </mat-icon>
    </mat-form-field>
  </div>
</div>

<ng-container *ngIf="!isLoading; else loading">
  <ng-container *ngIf="books?.length > 0; else noRecordsMessage">
    <mat-card class="book__card  m-2 ">
      <div class="row" matSort (matSortChange)="sortBooks($event)">
        <div class="col-lg-1"></div>
        <div class="col-12 col-md-4 col-lg-3">
          <div class="d-flex ">
            <span mat-sort-header="title">Title</span>
            <span mat-sort-header="author">Author</span>
            <span mat-sort-header="isbn">ISBN</span>
            <span>Location</span>
          </div>
        </div>
        <div class="col-12 col-md-2 " *ngIf="role === roleRef.ADMIN">
          <div class="d-flex">
            <span mat-sort-header="userId">Id</span>
            <span mat-sort-header="userName">Name</span>
          </div>
        </div>
        <div mat-sort-header="issuedDate" class="col-12 col-md-2 ">
          Issued Date
        </div>
        <div mat-sort-header="returnDate" class="col-12 col-md-2 ">
          Return Date
        </div>
        <div mat-sort-header="status" class="col-12 col-md-2 ">
          Status
        </div>
        <div class="col-12 col-md-3 col-lg-2" *ngIf="role === roleRef.USER">
          Return/Renew
        </div>
      </div>
    </mat-card>
    <mat-card class="book__card  m-2 " *ngFor="let book of books">
      <div class="row align-items-center">
        <div class="col-12 col-md-1">
          <img [src]="book.imageUrl" alt="Book Thumbnail" width="50px" />
        </div>
        <div class="col-6 col-sm-3 col-md-3 ">
          <div class=" m-0" matTooltip="Title">
            {{ book.title }}
          </div>
          <div matTooltip="Author">{{ book.author }}</div>
          <div matTooltip="ISBN">{{ book.isbn }}</div>
          <div matTooltip="Location">{{ book.location }}</div>
        </div>
        <div class="col-6 col-sm-2 col-md-2   m-0 " *ngIf="role === roleRef.ADMIN">
          <div matTooltip="User ID">{{ book.userId }}</div>
          <div matTooltip="User Name">{{ book.userName }}</div>
        </div>
        <div class="col-6 col-sm-3 col-md-2  m-0 " [matTooltip]="'Issued on ' + book.issuedDate">
          {{ book.issuedDate }}
        </div>
        <div
          class="col-6 col-sm-3 col-md-2  m-0 "
          [matTooltip]="'Return' + (book.status == 'Returned' ? 'ed on ' : ' by ') + book.returnDate"
        >
          {{ book.returnDate }}
        </div>
        <div class="col-6 col-sm-2 col-md-2  m-0 " matTooltip="Status">
          <ng-container *ngIf="book.status == 'Returned' || !isOverDue(book.returnDate); else overDue">
            <span
              [ngClass]="{
                'status--returned': book.status == 'Returned',
                'status--issued': book.status == 'Issued',
                'status--renewed': book.status == 'Renewed'
              }"
            >
              {{ book.status }}
            </span>
          </ng-container>
          <ng-template #overDue>
            <span class="status--overdue">Overdue</span>
          </ng-template>
        </div>
        <div class="col-12 col-md-2  m-0 " *ngIf="role === roleRef.USER">
          <button
          aria-label="Return Book "
            *ngIf="book.status !== issuedStatusRef.RETURNED"
            mat-raised-button
            class="m-1"
            color="accent"
            (click)="returnBook(book)"
            matTooltip="Return book"
          >
            <mat-icon>forward</mat-icon>
          </button>
          <button
          aria-label="Renew "
            *ngIf="
              book.status !== issuedStatusRef.RETURNED &&
              book.status !== issuedStatusRef.RENEWED &&
              isOverDue(book.returnDate)
            "
            mat-raised-button
            class="m-1"
            color="primary"
            (click)="renewBook(book)"
            [matTooltip]="'Renew book for next ' + renewDays + ' days'"
          >
            <mat-icon>sync</mat-icon>
          </button>

          <button
          aria-label="Edit "
            *ngIf="book.status == issuedStatusRef.RETURNED"
            mat-raised-button
            class="m-1"
            color="primary"
            (click)="openBookReviewDialog(book)"
            [matTooltip]="'Rate/Review book - ' + book.title"
          >
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </div>
    </mat-card>
    <mat-card class="m-2 book__card p-0">
      <mat-paginator
        *ngIf="true"
        [length]="booksTotalCount"
        [pageSize]="pageSize"
        showFirstLastButtons
        [pageSizeOptions]="[5, 10, 25]"
        [pageIndex]="pageIndex - 1"
        (page)="paginate($event)"
      >
      </mat-paginator>
    </mat-card>
  </ng-container>
  <ng-template #noRecordsMessage>
    <mat-card class="book__card  m-2" *ngIf="showBooks">
      No Records Found.
    </mat-card>
  </ng-template>
</ng-container>

<ng-template #loading>
  <div class="row no-gutters m-5">
    <div class="m-auto d-flex">
      <button mat-stroked-button color="accent">Loading ...</button>
    </div>
  </div>
</ng-template>
