.review {
  max-height: 400px;
  overflow: scroll;
  overflow-x: hidden;
}

mat-card {
  background-color: #696969;
}
.review__title {
  text-decoration: underline;
  font-size: large;
}

.review__info {
  font-size: smaller;
  font-style: italic;
  color: #a6afaf;
}

.review__content {
  max-height: 50px;
  overflow: scroll;
  font-size: small;
}
