<div class="d-flex flex-wrap">
  <h1 class="flex-fill align-self-center" *ngIf="isEditMode()" mat-dialog-title>
    <span *ngIf="!isUpdate">Add</span> <span *ngIf="isUpdate">Update</span> Review
  </h1>
  <h1 class="flex-fill" *ngIf="!isEditMode()" mat-dialog-title>Reviews</h1>

  <button aria-label="Close"  mat-icon-button mat-dialog-close><mat-icon>close</mat-icon></button>
</div>
<div class="d-flex">
  <mat-form-field class="flex-fill" *ngIf="reviews?.length > 0">
    <input matInput [(ngModel)]="searchValue" placeholder="Search" />
  </mat-form-field>
</div>

<div mat-dialog-content class="review" *ngIf="!isEditMode()">
  <mat-card class="m-1" *ngFor="let review of reviews | reviewFilter: searchValue">
    <div class="d-flex flex-wrap">
      <div class="flex-fill review__title">{{ review.title }} - {{ review.rating }} <mat-icon>star_rate</mat-icon></div>
      <div class="review__info">{{ review.userName }} / {{ review.date }}</div>
    </div>
    <div class="review__content">
      {{ review.review }}
    </div>
  </mat-card>

  <mat-card class="m-1" *ngIf="reviews?.length == 0">
    No Reviews
  </mat-card>
</div>

<div mat-dialog-content *ngIf="isEditMode()" [formGroup]="reviewForm">
  <div class="row">
    <mat-form-field class="col-8">
      <input matInput placeholder="Title" formControlName="title" />
    </mat-form-field>
    <mat-form-field class="col-4">
      <input
      aria-label="Rating" 
        type="number"
        matInput
        [max]="maxRating"
        [min]="minRating"
        formControlName="rating"
        placeholder="{{ 'Rating (' + reviewForm.get('rating').value + '/ 5)' }}"
      />
    </mat-form-field>
    <mat-form-field class="col-12">
      <textarea aria-label="Review"  matInput formControlName="review" placeholder="Review"></textarea>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions class="d-flex" *ngIf="isEditMode()">
  <button aria-label="Add or Update"  class="flex-fill m-1" mat-raised-button color="primary" (click)="submitReview()">
    <span *ngIf="!isUpdate">Add</span>
    <span *ngIf="isUpdate">Update</span>
  </button>
  <a class="flex-fill d-flex m-1" [href]="'http://localhost:4200/admin/books/' + bookId" target="_blank">
    <button aria-label="Share"  class="flex-fill" mat-raised-button color="primary" >Share Book</button>
  </a>
</div>
